*{
    margin: 0;
    padding: 0;
}
body{
    background-color:white;
}
::-webkit-scrollbar {
    width: 5px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(248, 246, 246); 
   
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(8, 8, 8); 
    
    height: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background:rgb(3, 3, 3);
    
  }
.nav-bar{
   /* position: sticky;
    top: 0;*/
    z-index: 1;
   /* border-bottom: 3px solid rgb(73, 72, 72);*/
    height: 80px;
    
}
.heading{
    width: 200px;
    font-size: 0.7cm;
    font-family: 'Dosis', sans-serif;
    margin-left: 30px;
    font-weight: 1000 ;
    margin-top: 20px;
    cursor:pointer;
    color: rgb(119, 204, 8);
    
}
.hamburger{
    visibility: hidden;
   
    background-color: white;
    border: none;
    font-size: 0.6cm;
    margin-top: -300px;
    cursor: pointer;
    

}
.nav-bar ul{
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin-top: -20px;
    
}
.nav-bar ul li {
   
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: black;

}
.nav-bar ul li a{
    
    text-decoration: none;
    color: black;
    padding: 0px 50px 0px 0px;
    font-family: 'Dosis', sans-serif;
    font-weight:bolder ;
    font-size: 0.7cm;    
}

.nav-bar ul li a:hover {
    color: rgb(74, 199, 2);
    }


.calculator{
    
    height:600px;
    border: 7px rgb(166, 250, 204) solid;
    margin-top: 50px;
    border-radius: 30px;
    float: left;
    width: 900px;
    margin-left: 10px;
    z-index: 0;
}
.head-2{
    margin-left: 170px;
    font-size: 0.8cm;
    font-weight: bold;
    font-family:'Dosis', sans-serif; ;
    color: green;
    margin-top: 7px;
    
}
.slid-1{
    margin-left: 20px;
    margin-top: 20px;
}
.slid-1 ul li{
    line-height: 80px;
    list-style: none;
    /*margin-top: px;*/
}  
.slider{
    appearance: none;
    background-color: rgb(211, 210, 210);
    width: 300px;
    height: 4px;
}
.slider::-webkit-slider-thumb:hover{
    cursor: pointer;
    
}
#amount{
    font-size: 0.7cm;
    color: black;
    font-family: 'Zen Kurenaido', sans-serif;
}
#amount-1{
    appearance: none;
    border: none;
    text-decoration: none;
    background-color:  white ;
    font-size: 0.65cm;
    width: 100px;
    
    
}
#amount-2{
    appearance: none;
    border: none;
    text-decoration: none;
    background-color:white ;
    text-align: right;
    font-size: 0.65cm;
}
#amount-3{
    appearance: none;
    border: none;
    text-decoration: none;
    background-color:white  ;
    text-align: right;
    font-size: 0.65cm;
}
/* --- for removing input type=number --- up & down arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}*/
.second-half{
    /*border: 1px solid grey;*/
    float: right;
    margin-top: -500px;
    height: 500px;
    width: 500px;
    display: flex;
   
}
.second-half ul {
    margin-left: 30px;
    margin-top: 50px;
    line-height: 150px;
    list-style: none;
}
.second-half ul li{
    color: rgb(117, 121, 120);
    font-size: 0.8cm;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.sec-2{
  
   /* border: 2px solid black; */
    height: 600px;
    float: right;
    width:300px;
    margin-top: 50px;
    margin-right: 50px;
    
}
.head-1{
    font-size: 0.6cm;
    color: rgb(100, 163, 5);
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    margin-top: 40px;
}

.result{
    list-style: none;
   margin-top: 30px;
    margin-left: 30px;
   line-height: 50px; 
   font-family: 'Roboto Condensed', sans-serif;
   cursor: pointer;
   margin-left: 60px;
   font-size: 0.6cm;


}
.result li:nth-child(1):hover{
    text-decoration: underline;
    color: rgb(60, 88, 18);
}
.result li:nth-child(2):hover{
    text-decoration: underline;
    color: rgb(60, 88, 18);
}
.result li:nth-child(3):hover{
    text-decoration: underline;
    color: rgb(60, 88, 18);
}
.result li:nth-child(4):hover{
    text-decoration: underline;
    color: rgb(60, 88, 18);
}
.result li:nth-child(5):hover{
    text-decoration: underline;
    color: rgb(60, 88, 18);
}
.txt-1{
    font-size: 0.4cm;
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(21, 41, 0);
    font-weight: bold;
}
.fotter{
    
    height: 40px;
    margin-top: 700px;
    background-color:#AEEC1D ;
}
.ft-1{
    margin-left: 30px;
    font-family: 'Dosis', sans-serif;
    color: black;
    font-weight: bold;

}
.tnc{
    
    font-family: 'Dosis', sans-serif;
    color: black;
    font-weight: bold;
    cursor: pointer;

}

.tnc:hover{
text-decoration: underline;
}
.cc{
    float: right;
    margin-right: 20px;
    font-size: 0.4cm;
    font-family: 'Dosis', sans-serif;
    color: rgb(7, 7, 7);
    font-weight: bold;
}
/*--making the page responsive---*/
@media screen  and (max-width :800px) {
    #list-1 {
        display: none;
    }
    #list-1.show{
        display:flex;
        flex-direction: column;
        font-size: 0.3cm;
        margin-top: 10px;
        padding-left:30px;
        float: left;
        line-height: 50px;
       border:2px black solid;
        width: 700px;
        /*position: absolute;*/
        text-align: left;
      
        
    }
  
    
    #hamburger{
        position: absolute;
    visibility: visible;
    margin-top: -35px;

    margin-left: 5px;

    }
    .h2-1{
        margin-left: 280px;
        
            width: 400px;
            
        
    }
    .slid-1{
        margin-left: 100px;
    }
    .second-half{
        margin-left: 25px;
    }
    .calculator{
        flex-direction: column;
        height: 1200px;
        width: 500px;
    }
    .second-half{
        
        margin-top: 70px;
        float: left;
    }
    .fotter{
        margin-top: 2070px;
        height: 100px;
        font-size: 0.36cm;
    }
    .cc{
        margin-top: 40px;
    }
    .sec-2{
        margin-right: 130px;
    }

}
    


